//多说又挂了 决定把对多说样式的修改自己管理起来不然挂一次写一次
@import '_settings'
#app
  #ds-thread #ds-reset li.ds-tab a:hover
    background-color: white;

  #ds-thread #ds-reset li.ds-tab a.ds-current
    border: 1px solid transparent;
    background-color: white;

  #ds-reset .ds-highlight
    color: $green !important
  #ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active
    color: $green !important
  #ds-thread #ds-reset .ds-sort a
    color $light
    &:hover
      color: #333
  #ds-thread #ds-reset .ds-comment-actions a
    color $light
    &:hover
      color: #333
  #ds-thread #ds-reset .ds-textarea-wrapper
    background #fff
  #ds-reset .ds-gradient-bg
    background #fff
  #ds-thread #ds-reset .ds-post-options
    border-bottom-color: #ccc;
  #ds-thread #ds-reset .ds-post-button
    background-color #fff
    background-image none
    border-bottom-color: #ccc;
  #ds-reset
    img
      max-width 50px
  #ds-thread #ds-reset #ds-bubble a
    color: $green
  #ds-thread #ds-reset .ds-comment-body a:hover
    color: #555;
  #ds-thread #ds-reset a.ds-comment-context
    color $green
  #ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-head a
    color: $green
    &:hover
      color: #555
