// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$logo-font = 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em

// colors
$dark   = #2c3e50
$medium = #34495e
$light  = #7f8c8d
$green  = #42b983
$yellow = #f3b967
$border = #ececec
$grey   = #c4c4c4
$codebg = #f8f8f8
$red = #ff6666
$black = #4a4a4a

$radius = 2px
